#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}
.travel_maindiv{
    border:1px solid #c7c7c7;
    padding-left:0px;
    padding-right:0px;
    float:none;
}
.travel_maindiv img{
    width:100%;
}
.travel_maindiv hr{
    width:230px;
}
.travel_maindiv h5, .travel_maindiv p{
    margin-left:20px;
}
.movie_head{
    font-size:25px;
    padding:6px 22px;
    border-radius:10px;
    margin-bottom:15px;
}
.movie_head i{
    float:right;
    
}
.movie_text span{
    color:aqua;
}
.environment_li{
    margin-top:13px;
}
.envrionment_li h4{
    border-bottom:1px solid white;
    padding:8px;
}